/* === Main Container === */
.script-management-container {
    max-width: 1000px;
    margin: 6rem auto 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* z-index: 1;
    position: relative; */
    min-height: calc(60vh - 6rem);
    /* overflow-y: auto; */
    /* background-color: rgba(255, 255, 255, 0.08); */
    /* backdrop-filter: blur(20px); */
    
}

/* === Form Rows === */
.script-form .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center
}

.form-group {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

/* === Buttons === */
.button-group {
    flex: 0;
    margin-top: auto;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;
}

.btn-group.short-button {
    max-width: 150px;
    align-self: flex-end;
}

.btn {
    padding: 0.6rem 1.2rem;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn.green {
    background-color: #28a745;
}

.btn.red {
    background-color: #5935dc;
}

/* === Inputs === */
label {
    font-weight: 500;
    margin-bottom: 0.2rem;
    color: white;
}

select,
input[type="text"] {
    padding: 0.6rem;
    border: 1px solid #f7f6f6;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    color: rgb(22, 22, 22);
}

/* === Table === */
.testcase-list {
    margin-top: 2rem;
    overflow-x: auto;
}

.testcase-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
    font-size: 0.95rem;
}

.testcase-table th,
.testcase-table td {
    border: 2px solid #58049c;
    padding: 0.6rem 1rem;
    text-align: left;
}

.blocked {
    opacity: 0.6;
}

/* === Select All Checkbox === */
.select-all-container {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    font-weight: 500;

}

#lable-name2,
#lable-name1 {
    color: white;
}

/* === Responsive === */
@media screen and (max-width: 768px) {
    .script-management-container {
        padding: 1rem;
    }

    .script-form .form-row {
        flex-direction: column;
    }

    .btn-group.short-button {
        align-self: center;
    }

    .testcase-table {
        font-size: 0.85rem;
    }

    .btn {
        font-size: 0.9rem;
    }
}

/* === Responsive === */
/* @media screen and (max-width: 600px) {
    .user-management-card {
        padding: 1.5rem;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .form-buttons {
        flex-direction: column;
    }
} */

 @media screen and (max-width: 480px) {
    .script-management-container {
        margin: 4rem 1rem 1rem;
    }

    .form-group {
        min-width: 100%;
    }

    .testcase-table th,
    .testcase-table td {
        padding: 0.4rem 0.6rem;
    }
} 